@import '@angular/material/prebuilt-themes/purple-green';

.navbar {
    width: 100%;
    background-color: #B80454; 
    color: white;
    padding: 10px 0;
    text-align: left;
    font-family: OpenSans, sans-serif;
    margin-bottom: 30px;
}

.page-name {
    font-size: 24px; 
    margin-left:10px;
}

/* Apply custom styles to the form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Apply custom styles to the mat-card */
  mat-card {
    max-width: 400px; /* Adjust max-width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  /* Apply custom styles to the mat-form-field */
  mat-form-field {
    width: 100%; /* Make the form field full-width */
    margin-bottom: 20px; /* Add space between form fields */
    margin-top: 10px !important;
  }
  
  /* Apply custom styles to the mat-input */
  input.mat-input {
    padding: 10px; /* Add padding to the input */
  }
  
  /* Apply custom styles to the buttons */
  button {
    margin-top: 10px; /* Add space above the buttons */
    margin-right: 10px; /* Add space between the buttons */
  }
  
  /* Apply custom styles to the Save button */
  .save-button {
    width: 120px; /* Set a fixed width for consistency */
  }

.mat-label{
    
}  
