html{
    font-family: OpenSans, sans-serif;
}

mat-card{
  width: 220px;
  height: 190px;
  background-color: #9E8EDE;
  border: solid #9E8EDE 5px;
  border-radius: 10px;
}

.widget-container{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: none;
    justify-content: stretch;
    color: white;
}

.name-and-category{
    flex-direction: row;
    display:flex;
    padding:0%;
    margin:0%;
}

.name-and-category > p{
    font-size: 20px;
}

.task-name{
    margin-right:40px;
    padding-right: 3px;
}

.widget-container > div > p {
    font-size: 17px;
    align-self: left;
    margin-left: 3px;
    padding:0%;
    margin-bottom:4%;
}

.widget-container > p {
    font-size: 15px;
    align-self: left;
    margin-left: 3px;
    padding:0%;
    margin-top:0%;
    margin-bottom:4%;
}

.category-icon {
    width: 9px;
    height: 9px;
    margin-right: 5px;
    margin-top: 20px;
}

.button-container{
    display:flex;
    justify-items: flex-end;
    justify-content:space-between;
    padding-left: 5px;
    padding-right:5px;
}

.edit-button{
    width: 50px;
    height: 30px;
    margin-top:42px;
    font-family: OpenSans, sans-serif;
    background-color: #8EDEBD;
    border-radius: 5px;
    border: solid 0px;
    color: white;
    font-size: 15px;

}   

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #DCBCD0;
    margin-top: 50px;
}
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #DCBCD0;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #8EDEBD;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }