<div class="navbar">
    <span class="page-name">My Tasks</span>
</div>

<div class="form-container">

    <form [formGroup]="login_form" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-label style="font-size: 25px;">Log in</mat-label>
            <p>*If your username has not been entered before, an account will be provided for you</p>
            <mat-form-field
                appearance="outline"
                color="accent"
            >
            <mat-label>Username</mat-label>
            <input
            matInput
            formControlName="login_username"
            name="login_username" />
            </mat-form-field>
            <mat-slide-toggle formControlName="dark_mode"  (change)="toggleDarkMode()">Dark Mode?</mat-slide-toggle>
            <button mat-stroked-button type="submit" style="margin-bottom: 10px;">Log in</button>
        </mat-card>
    </form>

</div>