.navbar {
    width: 100%;
    background-color: #B80454;
    color: white;
    padding: 10px 0;
    text-align: left;
    font-family: OpenSans, sans-serif;
    margin-bottom: 30px;
}

.page-name {
    font-size: 24px;
    margin-left: 10px;
}

.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    justify-content: center;
  
}

mat-card{
    background-color: #8EDEBD;
    padding: 20px;
    width: 300px;
}


button {
    margin-top: 15px;
    padding: 10px;
    background-color: #9E8EDE;
    border-radius: 8px;
    color: white !important;
}

button:hover {
    background-color: #DCBCD0;
}


mat-label{
    color:#B80454 !important;
    font-family: OpenSans, sans-serif !important;
}

mat-card{
    color: black !important;
}

p{
    font-family: OpenSans, sans-serif;
    color: #9E8EDE;
}

.dark-mode{
    background-color: black !important;
}



