<div class="navbar">
    <span class="page-name">My Tasks</span>
</div>

<div class="widget-container">
    <div class = "activity-suggestion">
        <mat-card class="suggestion-card">
            <button mat-stroked-button (click)="handleClick()"><strong>Get an activity suggestion!</strong></button>
            <p id="suggestion">{{this.suggestion}}</p>
        </mat-card>
    </div>
    <div class="category-container">
        <mat-label *ngIf="workTasks && workTasks.length > 0">Work</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let task of workTasks" [task]="task"></task-card-widget>
        </div>
    </div>

    <div class="category-container">
        <mat-label *ngIf="homeTasks && homeTasks.length > 0">Home</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let task of homeTasks" [task]="task"></task-card-widget>
        </div>
    </div>

    <div class="category-container">
        <mat-label *ngIf="schoolTasks && schoolTasks.length > 0">School</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let task of schoolTasks" [task]="task"></task-card-widget>
        </div>
    </div>
    
    
    <div class="reminders-container">
        <mat-card>
            <button mat-stroked-button (click)="navigateToNewTask()"><strong>Add task</strong></button>
        </mat-card>
        <reminders-widget class="reminders-widget" [reminders]="reminders"></reminders-widget>
    </div>

</div>