<div class="navbar">
    <span class="page-name">My Tasks</span>
</div>

<div class="widget-container">
    <div>
        <mat-label>Work</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let task of workTasks" [task]="task"></task-card-widget>
        </div>
    </div>
    
    
    <div class="reminders-container">
        <mat-card>
            <button mat-stroked-button (click)="navigateToNewTask()"><strong>Add task</strong></button>
        </mat-card>
        <reminders-widget class="reminders-widget"></reminders-widget>
    </div>
 
</div>