<div class="navbar">
    <span class="page-name">My Tasks</span>
</div>

<div class="widget-container">
    <div>
        <mat-label>Work</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let num of category1"></task-card-widget>
        </div>
    </div>
    <div>
        <mat-label>School</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let num of category2"></task-card-widget>
        </div>
    </div>
    <div>
        <mat-label>Home</mat-label>
        <div class="task-cards">
            <task-card-widget *ngFor="let num of category3"></task-card-widget>
        </div>
    </div>
    
    <div class="reminders-container">
        <mat-card>
            <button mat-stroked-button (click)="navigateToNewTask()"><strong>Add task</strong></button>
        </mat-card>
        <reminders-widget class="reminders-widget"></reminders-widget>
    </div>

    <div class = "activity-suggestion">
        <button mat-stroked-button (click)="handleClick()"><strong>Get an activity suggestion</strong></button>
        <p id="suggestion">{{this.suggestion}}</p>
    </div>
 
</div>